.btn{
    color: #0013FE;
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    background-color: transparent;
    border: none;
    &:hover{
        color: #0011fe93;
        cursor: pointer;
    }
}
.users{
    padding-right: 16px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.new_user{
    display: flex;
    align-items: center;
}